//@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);
//@import url(https://fonts.googleapis.com/css?family=Pacifico);
//@import url(https://fonts.googleapis.com/css?family=Patua+One);
//@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);

@font-face {
    font-family: 'formula-extralight';
    src: url('/bundles/additionalfonts/fonts/formula/PPFormula-CondensedExtralight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'formula-light';
    src: url('/bundles/additionalfonts/fonts/formula/PPFormula-Light.otf') format('opentype');
}


@font-face {
    font-family: 'helvetica';
    src: url('/bundles/additionalfonts/fonts/helvetica/Helvetica.ttf') format('truetype');
}

h1,h2,h3,h4,h5,h6 {
    &.headline-lineheight-fix {
        line-height: 1.2em;
    }
}